@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My .Net Website!</h1>
    <h2>This is a simple website for testing .Net deployments.</h2>
    <br>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Design & Developed By: WAQAR SHAIKH</p>
</div>
